
$color-purple: #800080;
$color-lightpurple: #80008033;
$color-darkpurple: #3b003b;
$color-h2: #fec066;
$color-white: #ffffff;
$color-textshadow: #240842;

$margin: 45px;

body {
    background-color: $color-purple;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

nav {
    width: 100%;
    height: auto;
    background-color: $color-darkpurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h2, li {
        cursor: pointer;
    }
    & h2{
        color: $color-h2;
        margin-left: $margin;
    }
    & ul {
        display: flex;
        margin-right: $margin;
    }
    & li {
        color: $color-white;
        list-style: none;
        margin-left: 8px;
        padding: 0;
    }
}


.hero {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--image {
        width: 100%;
        display: flex;
        margin-top: 20px;
        & img {
            width: 22%;
            margin: auto;
        }
    }
    &--title {
        width: 100%;
    }
    &--title h1 {
        color: $color-white;
        text-align: center;
        text-shadow: 1px 0px 3px $color-textshadow;
        font-size: 2.2em;
    }
}

.experience--title {
    width: 100%;
    & h2 {
        text-transform: uppercase;
        color: $color-h2;
        text-shadow: 1px 0px 3px $color-textshadow;
        margin-left: $margin;
    }
}

.cards {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
        &--card {
        background-color: $color-white;
        border-radius: 15px;
        max-width: 450px;
        box-shadow: 0px 16px 66px -20px rgba(0,0,0,1);
        margin: 1%;
    }
    &--card img {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: 0px 52px 49px -38px rgba(0,0,0,1);
    }
    &--card-small {
        background-color: $color-white;
        position: relative;
        margin: -10% 10% 5% 10%;
        padding: 1% 7% 1% 7%;
        & p {
            text-align: left;
        }
        & h3 {
            text-align: center;
        }
        & input {
            text-align: center;
            border: 1px solid $color-purple;
            background: none;
            color: $color-purple;
            border-radius: 8px;
            font-size: 16px;
            padding: 2.7%;
            cursor: pointer;
            &:hover{
                background-color: $color-lightpurple;
            }
        }
    }
}

// here

