body {
  background-color: #800080;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

nav {
  width: 100%;
  height: auto;
  background-color: #3b003b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h2, nav li {
  cursor: pointer;
}
nav h2 {
  color: #fec066;
  margin-left: 45px;
}
nav ul {
  display: flex;
  margin-right: 45px;
}
nav li {
  color: #ffffff;
  list-style: none;
  margin-left: 8px;
  padding: 0;
}

.hero {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero--image {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.hero--image img {
  width: 22%;
  margin: auto;
}
.hero--title {
  width: 100%;
}
.hero--title h1 {
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 0px 3px #240842;
  font-size: 2.2em;
}

.experience--title {
  width: 100%;
}
.experience--title h2 {
  text-transform: uppercase;
  color: #fec066;
  text-shadow: 1px 0px 3px #240842;
  margin-left: 45px;
}

.cards {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  justify-content: center;
}
.cards--card {
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 450px;
  box-shadow: 0px 16px 66px -20px black;
  margin: 1%;
}
.cards--card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 52px 49px -38px black;
}
.cards--card-small {
  background-color: #ffffff;
  position: relative;
  margin: -10% 10% 5% 10%;
  padding: 1% 7% 1% 7%;
}
.cards--card-small p {
  text-align: left;
}
.cards--card-small h3 {
  text-align: center;
}
.cards--card-small input {
  text-align: center;
  border: 1px solid #800080;
  background: none;
  color: #800080;
  border-radius: 8px;
  font-size: 16px;
  padding: 2.7%;
  cursor: pointer;
}
.cards--card-small input:hover {
  background-color: #80008033;
}

.contact {
  width: 100%;
  margin-top: 4.5%;
  background-color: #3b003b;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact--title {
  width: 100%;
}
.contact--title h2 {
  color: #fec066;
  text-transform: uppercase;
}
.contact--input input {
  border-radius: 12px;
  padding: 12px;
  border: none;
}
.contact--button input {
  margin: 10px;
  border: 1px solid #800080;
  padding: 15px 45px;
  border-radius: 12px;
  margin: 25px;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
.contact--button input:hover {
  background-color: #2e002e;
}
.contact--social {
  width: 100%;
  margin-bottom: 1%;
}
.contact--social img {
  cursor: pointer;
}

.footer--legal {
  width: 100%;
  color: #ffffff;
  background-color: #2e002e;
}
.footer--legal p {
  padding: 20px;
  margin: 0;
}