body {
  background-color: #800080;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

nav {
  width: 100%;
  height: auto;
  background-color: #3b003b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h2, nav li {
  cursor: pointer;
}
nav h2 {
  color: #fec066;
  margin-left: 45px;
}
nav ul {
  display: flex;
  margin-right: 45px;
}
nav li {
  color: #ffffff;
  list-style: none;
  margin-left: 8px;
  padding: 0;
}

.hero {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero--image {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.hero--image img {
  width: 22%;
  margin: auto;
}
.hero--title {
  width: 100%;
}
.hero--title h1 {
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 0px 3px #240842;
  font-size: 2.2em;
}

.experience--title {
  width: 100%;
}
.experience--title h2 {
  text-transform: uppercase;
  color: #fec066;
  text-shadow: 1px 0px 3px #240842;
  margin-left: 45px;
}

.cards {
  width: 100%;
}
.cards--card {
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 450px;
  box-shadow: 0px 16px 66px -20px black;
  margin: 5%;
}
.cards--card img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 52px 49px -38px black;
}
.cards--card-small {
  background-color: #ffffff;
  position: relative;
  margin: -10% 10% 5% 10%;
  padding: 1% 7% 1% 7%;
}
.cards--card-small p {
  text-align: left;
}
.cards--card-small h3 {
  text-align: center;
}